.img-head {
	width: 55px;
	height: 55px;
	border:1px solid teal;
	border-radius:55px;
}
.emphatic {
	background: #000;
}
.emphatic .bespoke-slide {
	background: #000;
}
#jk {
	background: #FFFF00;
	color: #FFF;
}
.head-color{
color:black;
}
.ratakiri{
text-align:left;
}