.img-head {
	width: 55px;
	height: 55px;
	border:1px solid teal;
	border-radius:55px;
}
.img-head:hover{
	border-radius: 6px;
}
.white-color {
	color: #FFF;
}
.emphatic {
	background: #000;
}
.emphatic .bespoke-slide {
	background: #000;
}
#jk {
	background: #FFFF00;
	color: #FFF;
}
.head-color{
color:black;
}
.ratakiri{
text-align:left;
}
#jw {
	background:#FF3030;
	color: #FFF;
}
#pra {
	background: #FF6600;
	color: #000;
}
.addwidth {
	width: 1100px;
}
#hatta {
	background: #6666FF;
}