.img-head {
	width: 50px;
	height: 50px;
}
.emphatic {
	background: #000;
}
.emphatic .bespoke-slide {
	background: #000;
}
#jk {
	background: #FFFF00;
	color: #FFF;
}
.head-color{
color:black;
}
.ratakiri{
text-align:left;
}